{% extends 'main/layout.html' %}

{% block regist %}
{% if log == 'teacher' or log == 'student' %}
        Hello, {{ name }}
    {% endif %}
    {% if log == '' %}
        <div class="buttons">
            <a href="{% url 'reg_teacher' %}">Регистрация как учитель</a><br>
            <a href="{% url 'reg_student' %}">Регистрация как ученик</a><br>
            <a href="{% url 'entrance' %}">Вход</a><br>
        </div>
    {% endif %}
{% endblock %}
{% block title %}Сочинение{% endblock %}

{% block content %}
    <form class="reg_teacher" method="post">
        {% csrf_token %}
        {{ form }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{ error }}
{% endblock %}